/* CSS Reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
label,
fieldset,
legend,
button,
input,
textarea,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

* {
  box-sizing: border-box;
}

button,
span {
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: #8f8f8f;
  border-radius: 20px;
  border: 3px solid white;
}
/* ------------------------------------------------------------------ */

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit
}

h1 {
  font-size: 2.5rem
}

h2 {
  font-size: 2rem
}

h3 {
  font-size: 1.75rem
}

h4 {
  font-size: 1.5rem
}

h5 {
  font-size: 1.25rem
}

h6 {
  font-size: 1rem
}

input:focus {
  outline: none;
}

input::placeholder {
  color: rgba(128, 128, 128, 0.3);
}

body {
  width: 100%;
  height: 100vh;
}

body.light {
  background-color: var(--light);
  transition: all 0.5s ease-in-out;
}

body.dark {
  background-color: var(--dark);
  transition: all 0.5s ease-in-out;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7% 0 5% 0;
  overflow-y: auto;
}

#addList {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(115, 115, 115, 0.37);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border-radius: 10px;
  padding: 2.5em;
}

#inputAdd {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 9999px;
  padding: 8px;
  margin-bottom: 2rem;
}

#inputAdd input,
#inputAdd button {
  background: transparent;
}

#inputAdd button {
  color: var(--green);
  font-weight: 300;
  padding: 0 0.3rem 0 0;
}


.iten-list li {
  display: flex;
  background-color: var(--light);
  margin-top: 0.2rem;
  border-radius: 9999px;
  padding: 8px;
  justify-content: space-between;
  border: 2px solid rgba(128, 128, 128, 0.3);
}

.iten-list span:first-child {
  color: var(--green);
  font-weight: 500;
  padding: 0 0 0 0.3rem;
}

.iten-list span:last-child {
  color: var(--danger);
  font-weight: 800;
  padding: 0 0.3rem 0 0;
}

.iten_ok {
  background: var(--green) !important;
  color: var(--light);
  transition: all 0.2s ease-in-out;
}

.iten_ok span:first-child {
  color: var(--light);
}


.line_through {
  text-decoration: line-through;
  font-weight: 400;
  padding: 0 1rem 0 1rem;
}










#theme {
  display: block;
  position: absolute;
  top: 2%;
  left: 1%;
  background: transparent;
}

.theme-transition {
  transition: all 0.5s ease-in-out;
}

